*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

body {
    font-family: Arial, sans-serif;
}

.main-header {
    background-color: #c56262; /* Light beige background color */
    color: #fff; /* White text color */
    padding: 10px 20px; /* Padding around the header */
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space out items evenly */
    align-items: center; /* Center items vertically */
}

.nav-list {
    list-style: none; /* Remove default list styling */
    display: flex; /* Display list items in a row */
    gap: 20px; /* Space between list items */
}

.nav-list li {
    margin: 0;
}

.nav-list a {
    text-decoration: none; /* Remove underline from links */
    color: #fff; /* White text color */
    font-size: 18px; /* Font size for links */
}

.nav-list a:hover {
    text-decoration: underline; /* Underline links on hover */
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    .main-header {
        flex-direction: column; /* Stack items vertically */
        text-align: center; /* Center text alignment */
    }

    .nav-list {
        flex-direction: column; /* Stack list items vertically */
        gap: 10px; /* Reduce space between list items */
    }
}
.home {
    background-color: #f0f0f0; /* Light grey background color */
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center text alignment */
    
}


.profiles-list{
    margin-left: 15%;
    margin-top: 5%;
    margin-right: 15%;
    display : flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(236, 114, 114);
 
}
.coding-profiles{
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #da6666;
    
    transition: transform 0.3s;
}
.coding-profiles li:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
}
.coding-profiles li{
    list-style: none;
    padding: 11px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skills{
    width: 100%;
    margin-top: 15px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #da6666;
    
    transition: transform 0.3s;
}
.skills-list{
    display: flex;
    justify-content: space-between;
    gap: 35px;
    flex-wrap: wrap;
    
    margin-top: 20px;
}
.skills-list li{
    list-style: none;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.skills-list li:hover{
    background-color: #dabebe;
    transform: scale(1.3);
    transition: transform 0.3s ease-in-out;

}

